* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-image: url(haq5cw9s6oo-bruno-marinho.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 20vh 10vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

h1, h2 {
  outline: none;
}

h1 {
  color: #fff;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5), -1px -1px 2px rgba(0, 0, 0, 0.5);
  /*font-family: 'Oswald', 'Merriweather', 'Caveat Brush', cursive, sans-serif, serif;*/
  font-size: 10vh;
  margin: 0;
}

h2 {
  /*font-family: 'Oswald', 'Merriweather', 'Caveat Brush', cursive, sans-serif, serif;*/
  color: #fff;
  font-style: italic;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  text-align: right;
  margin: 0;
}

.share a {
  color: #fff;
  border-color: #fff;
}

button {
  float: left;
}

.btn {
  /*font-family: 'Oswald', 'Merriweather', 'Caveat Brush', cursive, sans-serif, serif;*/
  padding: 2vh 4vw;
  margin: 2vh 2vw;
}

#save {
  background: #6c0;
}

#save:hover {
  background: #8e2;
  cursor: pointer;
}

#next {
  background: #900;
}

#next:hover {
  background: #b00;
  cursor: pointer;
}


@media (max-width: 767px) {
  body {
    padding: 10vh 10vw;
  }
}
