body {
  background-image: url(haq5cw9s6oo-bruno-marinho.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 20vh 10vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

h1 {
  color: #fff;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5), -1px -1px 2px rgba(0, 0, 0, 0.5);
  font-family: 'Oswald', 'Merriweather', 'Caveat Brush', cursive, sans-serif, serif;
  font-size: 10vh;
  margin: 0;
}

h2 {
  font-family: 'Oswald', 'Merriweather', 'Caveat Brush', cursive, sans-serif, serif;
  color: #fff;
  font-style: italic;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  text-align: right;
  margin: 0;
}

a {
  font-family: 'Oswald';
  padding: 1vh 10vw;
  border: 3px solid #fff;
  background: rgba(255, 255, 255, 0.15);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 5vh;
  border-radius: 10vh;
  display: inline-block;
  max-width: 50vw;
  align-self: center;
}

a:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

@media (max-width: 767px) {
  body {
    padding: 10vh 10vw;
  }
  a {
    padding: 1vh 25vw;
  }
}
