doctype html
html
  head
    link(href='https://fonts.googleapis.com/css?family=Barrio|Caveat+Brush|Merriweather|Oswald', rel='stylesheet')
    link(rel='stylesheet', href='style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;')
  body(style=`background-image: url(${ background });`)
    // <h1>A rolling baby gathers no candy</h1>
    h1= idiom
    h2= `- ${ author }`
    a SHARE
