{
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "template-curly-spacing": [2, "always"]
  },
  "plugins": [
    "react",
    "react-native"
  ],
  "ecmaFeatures": {
    "jsx": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "extends": [
    "standard",
    "plugin:react/recommended"
  ]
}
